<div class="container offset-1 col-10">
    <h2>Arquitectura de un Sistema Gestor de Base de Datos</h2>
    <hr>
    <div class="contenedor-img">
        <img src="/assets/img/dbfundamentals/arquitecture/esquema.png" alt="">
    </div>
    <h3>Nivel interno o físico</h3>
    <p> Es el más cercano al almacenamiento físico, es decir, tal y como están almacenados en el ordenador. Describe la estructura física de la BD mediante un esquema interno. Este esquema se especifica con un modelo físico y describe los detalles de cómo
        se almacenan físicamente los datos: los archivos que contienen la información, su organización, los métodos de acceso a los registros, los tipos de registros, la longitud, los campos que los componen.
    </p>
    <h3>Nivel Conceptual</h3>
    <p>Describe la estructura de toda la BD para un grupo de usuarios mediante un esquema conceptual. Este esquema describe las entidades, atributos, relaciones, operaciones de los usuarios y restricciones, ocultando los detalles de las estructuras físicas
        de almacenamiento. Representa la información contenida en la BD. En la Figura siguiente se representan los niveles de abstracción de la arquitectura de un DBMS. </p>
    <h3>Nivel Externo o de Visión</h3>
    <p>Es el más cercano a los usuarios, es decir, es donde se describen varios esquemas externos o vistas de usuarios. Cada esquema describe la parte de la BD que interesa a un grupo de usuarios en este nivel se representa la visión individual de un usuario
        o de un grupo de usuarios. </p>
    <br><br>
</div>