<div class="container offset-1 col-10">
    <h1 class="mt-4 text-center">Sistemas Gestores de Bases de Datos</h1>
    <hr>
    <br>
    <div class="row justify-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4BjnytBHqwI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <p class="mt-3">Un Sistema Gestor de Bases de datos (SGBD, en inglés DBMS: DataBase Management System) es un sistema de software que permite la definición de bases de datos; así como la elección de las estructuras de datos necesarios para el almacenamiento y búsqueda
        de los datos, ya sea de forma interactiva o a través de un lenguaje de programación.
    </p>
    <p>Entre los Sistemas Gestores Bases de datos más populares encontramos: </p>
    <h3>MySQL</h3>
    <p>MySQL es un software de sistema gestión de base de datos relacional que se puede ejecutar en los sistemas operativos GNU/Linux, Windows y Mac, se ejecuta de forma multi-thread y multiusuario y es distribuido por Oracle bajo la licencia GPL y comercial.
        Este sistema gestor de base de datos es el mas popular del mundo, su uso en las aplicaciones web, tales como en WordPres, Joomla y entre otros , Por ser distribuido bajo la licencia GPL existen diferentes apis o interfaces de programación de aplicaciones
        para diversos lenguajes de programación para acceder a la base de datos de MySQL.</p>
    <img src="/assets/img/dbfundamentals/dbDbms/mysql.png" alt="" style="" class="gestores row">
    <h3>Oracle</h3>
    <p>Oracle es un sistema de gestión de base de datos desarrollado por la compañía Oracle, este sistema es de tipo modelo objeto relacional, por el cual es uno de los gestores de bases de datos mas completo como: soporte de transacciones, estabilidad,
        escalabilidad y puede correr en los sistemas operativos GNU/LINUX, Windows, Mac y entre otros. Comprar la licencia de este sistema de gestor de base datos es muy caro que asciende varios miles de dólares según a la versión y licencia, sin embargo
        existe una versión express solo para fines autoeducativos estrictamente.</p>
    <img src="/assets/img/dbfundamentals/dbDbms/oracle.png" alt="" style="" class="gestores row">
    <h3>PostgreSQL</h3>
    <p>PostgreSQL es un sistema gestor de base de datos relacional de código abierto de muchos otros proyectos, multiplataforma, orientado a objetos bajo la licencia PostgreSQL que es similara a la BSD de la MIT. Para usar el gestor de base datos existen
        interfaces de programación para muchos lenguajes de programación como por ejemplo: C/C++, Java PL/Java web, PL/Perl y demás.</p>
    <img src="/assets/img/dbfundamentals/dbDbms/psql.png" alt="" style="" class="gestores row">
    <h3>Microsoft SQL Server</h3>
    <p>Microsoft SQL Server un software propietario de gestión de base de datos creado por la compañía Microsoft disponible, lamentablemente solo se puede usar en el sistema operativo Windows, aunque recientemente anunciaron que SQL Server 2016 estaría disponible
        para GNU/Linux para este fin de año. Con este sistema de gestión de base datos se puede trabajar en modo cliente y servidor, para aquellos que quieran utilizar se puede descargar una versión express para fines educativos, para la cual también
        existen apis para diferentes de tipos lenguajes de programación.</p>
    <img src="/assets/img/dbfundamentals/dbDbms/sqlserver.png" alt="" style="" class="gestores row">
    <h3>Maria DB</h3>
    <p>MariaDB es un programa sistema de manejo de bases de datos multiplataforma descendiente de MySQL creado en el año 2009 por el descontento de modelo de desarrollo. Se distribuye bajo la licencia GPL que es una software completamente libre y además
        se ha introducido dos nuevos motores de almacenamiento Aria y XtraDB en sustitución de MyISAM y InnoDB. Para usar este gestor de base datos existen apis para los diferentes lenguajes de programación e incluso los mismos apis que se usan para MySQL
        son compatibles.</p>
    <img src="/assets/img/dbfundamentals/dbDbms/mariadb.png" alt="" style="" class="gestores row">
    <h3>Mongo DB</h3>
    <p>MongoDB es un sistema de base de datos NoSQL multiplataforma, orientado a documentos desarrollado bajo la filosofía de software libre, los datos son guardados en la base datos en estructuras de datos similar a JSON de JavaScript e incluso tiene la
        capacidad de realizar consultas utilizando JavaScript por el cual también existen apis para distintos lenguajes de programación para realizar consultas e informes.</p>
    <img src="/assets/img/dbfundamentals/dbDbms/mongo.jpg" alt="" style="" class="gestores row mb-5">

    <!-- Button trigger modal -->
    <div class="row justify-content-center">
        <button type="button" class="btn btn-success btn-test mb-5" data-toggle="modal" data-target="#exampleModalScrollable">
                        Realizar evaluación <i class="fas fa-file-alt" style="color:white"></i>
                       </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl  modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Evaluación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <iframe class="col-12" height="600px" src="https://es.educaplay.com/es/recursoseducativos/4401401/html5/sistemas_gestores_de_bases_de.html"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>