img {
    margin: 0 auto;
}

h2 {
    font-size: 38px;
    text-align: center;
    margin: 30px 0;
}

h3 {
    margin-top: 40px;
    font-size: 35px;
    text-align: left;
}

hr {
    border: 0.5px #bdc3c7 solid;
}

p {
    text-align: justify;
    font-size: 20px;
}

.gestores {
    width: 50%;
}

.bd {
    margin-top: 30px;
    width: 10%;
}