<div class="container-fluid ">
    <h2 class="tema">Conceptos básicos</h2>
    <hr>
    <div class="row justify-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3R27HUwjSUM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <br>
    <div class="row conceptos">
        <div class="col-md-4">
            <div class="card card-concepto border-dark" style="width: 18rem;">
                <div class="card-header border-dark" style="background-color:#e84118">
                    Datos
                </div>
                <img class="card-img-top img-concepto" src="assets/img/dbfundamentals/basic-concepts/datos.png" alt="Card image cap">

                <div class="card-body">
                    <p class="card-text">Mínima unidad de información. Es un valor (numérico, alfabético, algorítmico, espacial, etc) que por sí sólo no dice mucho.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-concepto border-dark" style="width: 18rem;">
                <div class="card-header border-dark" style="background-color: #4cd137">
                    Información
                </div>
                <img class="card-img-top img-concepto" src="assets/img/dbfundamentals/basic-concepts/folder.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Conjunto organizado de datos procesados, que constituyen un mensaje que cambia el estado de conocimiento del sujeto o sistema que recibe dicho mensaje.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-concepto border-dark" style="width: 18rem;">
                <div class="card-header border-dark" style="background-color:#9c88ff">
                    Base de datos
                </div>
                <img class="card-img-top img-concepto" src="assets/img/dbfundamentals/basic-concepts/bd.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Son bancos de información que contienen datos relativos a diversas temáticas y categorizados de distinta manera, pero que comparten entre sí algún tipo de vínculo o relación que busca ordenarlos y clasificarlos en conjunto.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row conceptos">
        <div class="col-md-4">
            <div class="card card-concepto border-dark" style="width: 18rem;">
                <div class="card-header border-dark" style="background-color:#1dd1a1">
                    Reglas del negocio
                </div>
                <img class="card-img-top img-concepto" src="assets/img/dbfundamentals/basic-concepts/bussiness_rules.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Es la parte de un sistema que se encarga de codificar las reglas de funcionamiento del mundo real que determinan como la información puede ser creada, mostrada, cambiada y eliminada.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-concepto border-dark" style="width: 18rem;">
                <div class="card-header  border-dark" style="background-color:#576574">
                    Sistema Gestor de Bases de Datos
                </div>
                <img class="card-img-top img-concepto" src="assets/img/dbfundamentals/basic-concepts/sgbd.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Son las herramientas (en su mayoría software) que nos ayudan a gestionar bancos de información, es decir, bases de datos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-concepto  border-dark" style="width: 18rem;">
                <div class="card-header  border-dark" style="background-color: #0abde3">
                    Atributo
                </div>
                <img class="card-img-top img-concepto" src="assets/img/dbfundamentals/basic-concepts/attribute.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Característica o rasgo de un tipo de entidad que describe la entidad, por ejemplo, el tipo de entidad Person (Persona) tiene el atributo Date of Birth (Fecha de nacimiento).</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row conceptos">
        <div class="col-md-4">
            <div class="card card-concepto border-dark" style="width: 18rem;">
                <div class="card-header border-dark" style="background-color: #B53471">
                    Modelado de Datos
                </div>
                <img class="card-img-top img-concepto" src="assets/img/dbfundamentals/basic-concepts/model.png" alt="Card image cap">

                <div class="card-body">
                    <p class="card-text">Colección de herramientas conceptuales para describr los datos , las relaciones, la semántica y las restricciones de consistencia.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-concepto border-dark" style="width: 18rem;">
                <div class="card-header  border-dark" style="background-color: #1289A7">
                    Entidad
                </div>
                <img class="card-img-top img-concepto" src="assets/img/dbfundamentals/basic-concepts/rectangle.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Objeto o concepto del mundo real acerca del cual se recoge información, y que puede diferenciarse de otros objetos, incluso si son de su misma clase.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-concepto  border-dark" style="width: 18rem;">
                <div class="card-header  border-dark" style="background-color: #EE5A24">
                    Relación
                </div>
                <img class="card-img-top img-concepto" src="assets/img/dbfundamentals/basic-concepts/relation.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Expresa la dependencia existente entre entidades y permite la asociación de estas.</p>
                </div>
            </div>
        </div>
    </div>
</div>